body {
overflow-x: hidden;
overflow-y: hidden;
}

.text {
position: relative;
top: 10em;
left: 72em;
margin: 0px;
}

#name {
font-family: 'Young Serif', serif;
font-size: 200%;
}

p {
font-family: 'Montserrat', sans-serif;
}

#beige-gif {
position: relative;
z-index: -1;
left: 85.2em;
top: -10em;
width: 14em;
}

#pic-box {
position:fixed;
margin: 0px;
background-color: beige;
padding-bottom: 70em;
padding-left: 58.79em;
left: 0px;
bottom: 0px;
z-index: -1;
}

#pic-box-picture {
position: fixed;
width: 58.79em;
bottom: 0em;
left: 0em;
}

#socials-header {
position: relative;
font-family: 'Young Serif', serif;
font-size: 200%;
}

.socials {
position: relative;
top: -4.5em;
left: 72em;
}

#box-1 {
position: fixed;
top: 32em;
border-radius: 25px;
padding-top: 11em;
padding-left: 11em;
background-color: #eed9c4;
}

#x-icon {
position: fixed;
margin: 0px;
top: 34.4em;
left: 74.5em;
height: 6.1em;
}

#box-2 {
position: fixed;
top: 32em;
left: 86em;
border-radius: 25px;
padding-top: 11em;
padding-left: 11em;
background-color: #eed9c4;
z-index: -1;
}

#discord-icon {
position: fixed;
margin: 0px;
top: 33.5em;
left: 87.7em;
height: 7.5em;
}

#box-3 {
position: fixed;
top: 32em;
left: 100em;
border-radius: 25px;
padding-top: 11em;
padding-left: 11em;
background-color: #eed9c4;
z-index: -1;
}

#roblox-icon {
position: fixed;
margin: 0em;
top: 33.7em;
left: 101.7em;
height: 7.5em;
}

.background {
position:fixed;
bottom: 0em;
right: 0em;
z-index:-2;
}